:root {
	--layout-width: 82.5rem; /* 1320px */
	--layout-gutter: 0.75rem; /* 12px */
}

@theme {
	--font-sans: "Noto Sans", "Noto Sans TC", sans-serif;

	--color-primary-50: #fdf7f1;
	--color-primary-100: #fde6cf;
	--color-primary-500: #f5b87b;
	--color-primary-900: #24140b;

	--color-neutral-0: #ffffff;
	--color-neutral-500: #737373;
	--color-neutral-700: #404040;
	--color-neutral-900: #1e1e1e;

	--color-dark-40a: rgb(0 0 0 / 40%);
	--color-dark-60a: rgb(0 0 0 / 60%);
}